<div>
	<div class="info-album">
		<img src="/albums/<%= album.id%>/cover" />
		<h1>
			<%= album.name%>
		</h1>
		<h3>by <%= album.artist_name%>
		</h3>
		<span>
			<%= album.release_date.substr(0, 4) %>
		</span>
	</div>
	<ul class="list-nav">
		<li>Track list</li>
		<li>Comments</li>
	</ul>
</div>
<div class="content-view">
	<section>
		<h2>Track list</h2>
		<div class="grid-table" id="track-list">
			<div>
				<h3>#</h3>
				<h3>Title</h3>
				<h3>Duration</h3>
				<h3>=</h3>
			</div>
			<% album.tracks.forEach(track=> { %>
				<div track-id="<%= track.id %>" track-title="<%= track.title%>" track-artist-id="<%= track.artist_id %>"
					track-artist-name="<%= track.artist_name %>" length="<%= track.duration %>" onclick="playTrack(this)">
					<span>
						<%= track.track_num %>
					</span>
					<span>
						<%- track.title %>
					</span>
					<span>
						<%= new Date(null, null, null, null, null, track.duration).toTimeString().substr(3,5)%>
					</span>
				</div>
			<% }) %>
		</div>
	</section>
	<section>
		<h2>Comments</h2>
	</section>
</div>