<div>
    <div class="info-artist">
        <img
            src="/users/<%= artist.id %>/avatar">
        <h1 artist-id=<%=artist.id %>}><%= artist.name %>
        </h1>
        <!-- <h2>The Beatles</h2>
        <h3>The Beatles</h3>
        <p>The Beatles</p> -->
    </div>
    <ul class="list-nav">
        <% if(artist.albums.length > 0){ %> <li>Albums</li> <% } %>
        <% if(artist.singles.length > 0){ %> <li>Singles & EP</li> <% } %>
        <% if(artist.compilations.length > 0){ %> <li>Compilations</li> <% } %>
    </ul>
</div>
<div class="content-view">
    <% if(artist.albums.length > 0){ %>
        <section>
            <h2>Albums</h2>
            <div class="content-list-large">
                <% artist.albums.forEach(album=> {%>
                    <div album-id=<%= album.id %> class="content" onclick="changePage('/albums/<%= album.id %>')">
                        <img src="/albums/<%= album.id %>/cover">
                        <div>
                            <h3>
                                <%= album.name %>
                            </h3>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
    <% } %>
    <% if(artist.singles.length > 0){ %>
        <section>
            <h2>Singles & EPs</h2>
            <div class="content-list-large">
                <% artist.singles.forEach(album=> {%>
                    <div album-id=<%= album.id %> class="content" onclick="changePage('/albums/<%= album.id %>')">
                        <img src="/albums/<%= album.id %>/cover">
                        <div>
                            <h3>
                                <%= album.name %>
                            </h3>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
    <% } %>
    <% if(artist.compilations.length > 0){ %>
        <section>
            <h2>Compilations</h2>
            <div class="content-list-large">
                <% artist.compilations.forEach(album=> {%>
                    <div album-id=<%= album.id %> class="content" onclick="changePage('/albums/<%= album.id %>')">
                        <img src="/albums/<%= album.id %>/cover">
                        <div>
                            <h3>
                                <%= album.name %>
                            </h3>
                        </div>
                    </div>
                <% }) %>
            </div>
        </section>
    <% } %>
</div>