<div>
	<div class="info">
		<h1>Library</h1>
		<!-- <h2>The Beatles</h2>
        <h3>The Beatles</h3>
        <p>The Beatles</p> -->
	</div>
	<ul class="list-nav">
		<li>Favorite Artists</li>
		<li>Your Playlists</li>
		<li>Saved Albums</li>
	</ul>
</div>
<div class="content-view">
	<section>
		<h2>Favorite Artists</h2>
		<div class="content-list-small" style="overflow-x: auto;">
			<% favArtistList.forEach((artist)=> {%>
				<div class="content artist" onclick="changePage('/artists/<%= artist.id %>')">
					<img class="avatar" src="/users/<%= artist.id %>/avatar" />
					<div>
						<h3>
							<%= artist.name %>
						</h3>
					</div>
				</div>
				<% }) %>
		</div>
	</section>
	<section>
		<div class="relative"><h2>Your Playlists</h2> <button class="absolute" style="right: 0; top : 0;" onclick="toggleDialog('dialog-add')">New playlist</button></div>
		<div class="content-list-duo" style="height:300px;overflow: auto;">
			<% playlist.forEach((pl)=>{%>
			<div class="content playlist" onclick="changePage('/playlists/<%= pl.id %>')">
				<img src="https://www.collinsdictionary.com/images/thumb/road_124163875_250.jpg" />
				<div>
					<h3><%= pl.title %></h3>
					<span>Playlist</span>
				</div>
			</div>
			<%}) %>
		</div>
	</section>
	<section>
		<h2>Saved Albums</h2>
		<div class="content-list-large" style="overflow: auto;">
			<% favAlbumList.forEach((album)=> {%>
				<div class="content album" onclick="changePage('/albums/<%= album.id %>')">
					<img src="/albums/<%= album.id %>/cover">
					<div>
						<h3>
							<%= album.name %>
						</h3>
					</div>
				</div>
			<% }) %>
		</div>
	</section>
	<form class="dialog hidden" id="dialog-add" method="POST" action="/users/<%= uid %>/playlists" onsubmit="return false;">
		<h1>Create new playlist</h1>
		<div class="dialog-content">
			<div class="grid-dialog">
				<span>Title</span>
				<input type="text" name="title" origin-val="">
			</div>
		</div>
		<div class="dialog-controls">
			<input type="reset" value="Reset">
			<button onclick="addNewPlaylist()">Add</button>
			<button onclick="toggleDialog('dialog-add', resetTForm)">Cancel</button>
		</div>
	</form>
</div>