<div>
    <div class="info">
        <h1>Management</h1>
    </div>
    <ul class="list-nav">
    </ul>
</div>
<div class="content-view">
    <section>
        <div class="grid-searchbar">
            <div>
                <h2>Albums</h2>
            </div>
            <div><input type="text" placeholder="Search here"></div>
            <div>Filter</div>
        </div>
        <div class="flex-row">
            <button onclick="toggleDialog('dialog-add')">
                + Add new album
            </button>
        </div>
        <div class="grid-table" id="man-album-list">
            <div>
                <h3>ID</h3>
                <h3>Name</h3>
                <h3></h3>
                <h3>Release Date</h3>
                <h3>Type</h3>
            </div>
            <%albumList.forEach((album)=> {%>
                <div album-id="<%= album.id %>" album-name="<%= album.name %>" album-artist="<%= album.artist_id %>"
                    album-cover="/albums/<%= album.id %>/cover" album-release-date="<%= album.release_date %>"
                    album-type="<%= album.type %>" onclick="changePage(`/for_artist/albums/<%= album.id %>`)">
                    <span>
                        <%= album.id%>
                    </span>
                    <span>
                        <%= album.name%>
                    </span>
                    <span>
                        
                    </span>
                    <span>
                        <%= album.release_date%>
                    </span>
                    <span>
                        <%= album.typeName%>
                    </span>
                </div>
                <%})%>
        </div>
    </section>
</div>
<script>document.title = "<%- title %>"</script>
<form class="dialog hidden" id="dialog-add" method="POST" action="/albums">
    <h1>New album</h1>
    <div class="dialog-content">
        <div class="dialog-image">
            <img class="cover" field="album-cover">
            <input type="file" accept="image/*" target-field="album-cover" onchange="previewImg(this)"
                oninput="resetField(this)">
        </div>
        <div class="grid-dialog">
            <span>Name</span>
            <input type="text" name="title">
            <span>Artist</span>
            <select name="artist_id">
                    <option value="<%= uid %>">
                        <%= uname %>
                    </option>
            </select>
            <span>Release</span>
            <input type="date" name="release_date">
            <span>Type</span>
            <select name="type">
                <option value="1">Album</option>
                <option value="2">Single/EP</option>
                <option value="3">Compilation</option>
            </select>
        </div>
    </div>
    <div class="dialog-controls">
        <input type="reset" value="Reset">
        <button onclick="submitForm('dialog-add')">Add</button>
        <button onclick="toggleDialog('dialog-add', resetForm('dialog-add'))">Cancel</button>
    </div>
</form>
<script>document.querySelector('.linkk').setAttribute("onclick", "changePage('/for_artist/albums')")
</script>