<div>
    <div class="info">
        <h1>Management</h1>
    </div>
    <ul class="list-nav">
        <li onclick="changePage('/management/users')">Users</li>
        <li onclick="changePage('/management/albums')">Albums</li>
        <li onclick="changePage('/management/playlists')">Playlists</li>
    </ul>
</div>
<div class="content-view">
    <section>
        <div class="grid-searchbar">
            <div>
                <h2>Playlists</h2>
            </div>
            <div><input type="text" placeholder="Search here"></div>
            <div>Filter</div>
        </div>
        <div class="flex-row">
            <button onclick="toggleDialog('dialog-add')">
                + Add new playlist
            </button>
        </div>
        <div class="grid-table" id="man-album-list">
            <div>
                <h3>ID</h3>
                <h3>Name</h3>
                <h3>Creator</h3>
            </div>
            <%playlists.forEach((playlist)=> {%>
                <div playlist-id="<%= playlist.id %>" onclick="changePage(`/management/playlists/<%= playlist.id %>`)">
                    <span>
                        <%= playlist.id%>
                    </span>
                    <span>
                        <%= playlist.name%>
                    </span>
                    <span>
                        <%= playlist.creator_name%>
                    </span>
                </div>
                <%})%>
        </div>
    </section>
</div>
<script>document.title = "<%- title %>"</script>
<form class="dialog hidden" id="dialog-add" method="POST" action="/albums">
    <h1>New playlist</h1>
    <div class="dialog-content">
        <!-- <div class="dialog-image">
            <img class="cover" field="album-cover">
            <input type="file" accept="image/*" target-field="album-cover" onchange="previewImg(this)"
                oninput="resetField(this)">
        </div> -->
        <div class="grid-dialog">
            <span>Name</span>
            <input type="text" name="title">
            <span>Creator</span>
            <select name="creator_id">
                <%userList.forEach((user)=> {%>
                    <option value="<%= user.id %>">
                        <%= user.name %>
                    </option>
                    <%})%>
            </select>
            <span>Release</span>
            <input type="date" name="release_date">
            <span>Type</span>
            <select name="type">
                <option value="1">Album</option>
                <option value="2">Single/EP</option>
                <option value="3">Compilation</option>
            </select>
        </div>
    </div>
    <div class="dialog-controls">
        <input type="reset" value="Reset">
        <button onclick="submitForm('dialog-add')">Add</button>
        <button onclick="toggleDialog('dialog-add', resetForm('dialog-add'))">Cancel</button>
    </div>
</form>